@import '../../../../styles/variables.scss';

.this__day {
    padding: 15px;
    max-width: 400px;
    width: 100%;
    background: var(#{--components-background-default});
    box-shadow: $box-shadow;
    border-radius: $border-radius;
}

.top__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    color: var(#{--components-text-default});

    svg {
        width: 119px;
        height: 119px;
        color: var(#{--icons-background-default});
    }
}

.this__temp {
    font-size: 96px;
    font-weight: 600;
    color: $primary-color;
}

.this__day_name {
    font-size: 40px;
    color: var(#{--components-text-default});
}

.bottom__block {
    
    .this__time,
    .this__city {
        color: var(#{--components-text-default});
        font-size: 25px;
    }
    .this__time_units{
        font-size: 18px;
    }
}